tp*\verilog_tp*\assessment\impl
tp*\verilog_tp*\assessment\assessment.gprj.user
tp*\verilog_tp*\assessment\assessment.fs
tp*\assembly_tp*\twilio_2FA_recovery_code.txt
tp*\.env
tp*\build/
tp*\disasm/
tp*\*.o
tp*\*.vvp
tp*\*.vcd